.example-1{
    width: 400px;
    height: 400px;
    background-color: blue;
    display: grid;
    place-items: center;
}
body{
    background-color: aquamarine;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.wrap{
    padding: 16px;
}
.parent{
    width: 50%;
    height: 200px;
    background-color: brown;
}
.child{
    width: 150px;
    height: 100%;
    background-color: antiquewhite;
}