h4 {
    display: block;
    margin-block-start: 1.33cm;
    margin-block-end: 1.33cm;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box{
    background: rgb(9, 255, 0);
    height: 50px;
    margin: 22px;
    padding: 16px;
    display: grid;
    place-items: center;
}
div{
    unicode-bidi: isolate;
}
.demo-wrap{
    padding: 16px;
}
section{
    display: block;
    unicode-bidi: isolate;
}