body {
    margin: 0;
    padding: 0;
    background-color: rgba(234, 0, 255, 0.493);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.wrap {
    padding: 16;
}
.panel {
    width: 400px;
    height: 400px;
    background: rgb(199, 40, 40);

    border-width: 10px;
    border-style: solid;
    border-color: tan;

    display: grid;
    place-items: center;
}

.weird {
    width: 200px;
    height: 150px;
    background-color: rgb(173, 31, 192);
    border-bottom-left-radius: dashed;
    border-top-style: dotted;
    border-right-color: rgb(51, 32, 161);

}
.card {
    width: 200px;
    height: 200px;
    background-color: rgb(0, 255, 55);
}