body{
    background-image: url(./assets/trump.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.scroll-block{
    background: rgba(192, 199, 132, 0.8);
    width: 30%;
    border-radius: 12px;
    text-align: center;

}
h1{
    background: rgb(206, 149, 206);
    width: 50%;
    text-align: center;
    border-radius: 12px;
    margin: 0 auto;
}
.alpha, .opacity{
    padding: 16px;
    border: 2px solid rgb(231, 193, 193);
    border-radius: 12px;
    max-width: 720px;
}
.alpha{
    background-color: aqua;
}
.opacity{
    background-color: azure;
    opacity: 0.5;
}
.g{
    width: 200px;
    height: 200px;
    border: 1px solid white;
    display: grid;
    place-items: center;
    margin-bottom: 16px;
    margin-top: 16px;
}
.liner{
    background-image: linear-gradient(to right,rgb(104, 104, 192), purple);
}
.radial{
    background-image: radial-gradient(rgb(218, 126, 142),rgb(172, 241, 172));
}