body {
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.demo-wrap {
    padding: 16px;
}

h2, p, div {
    background: red;

}
a, button, strong, span {
    background: lightblue;
}

.d1, .s1 {
    display: inline-block;
    border: 2px solid salmon;
    margin: 12px;
    padding: 10px;
    background: pink;
    width: 180px;
    height: 80px;
    margin-top: 80px; 
}