body{
    background-color: antiquewhite;
    font-family:'Times New Roman', Times, serif
}
h1{
    color: darkblue;
    text-align: center;
}
p{
    color:blueviolet;
    font-size: 18px;
}
div{
    background-color: gold;
    border-radius: 10px;
    padding: 20px;
    margin: 20px
}
.info{
    color: rgb(48, 110, 19);
}
#warning {
    color: red;
}
